
body {
	font-family; Verdana,Arial,Helvetica,sans-serif;
	}

#wrapper {
	max-width: 1200px;
	display: block;
	}
#kolofon {
    width: 30%;
	float: left;
	display: block;
	}
.box > h3 {
    background-color: #17cc62;
    margin-bottom: 0px;
	}
.box > ul {
    margin-top: 5px;
	}
#indhold {
	border: 2px solid black;
	padding: 5px;
	width: 65%;
	float: right;
	}
dt {
	font-weight: bold;
	color: green;
	}
dd {
		}