.ønskeliste {
	font-size: 30pt;
	margin-left: 40px;
}
.ønskeoverskrift {
	font-size: 60px;
}
.juletraeskant {
	width: 70%;
	border: 10px solid #1D6115;
	padding: 10px;
	background-color: #C70C02;
	border-radius: 70px;
	box-shadow: 17px 25px 16px -6px #7777778c;
	margin: 35px auto;
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
