h3, h2 {
	color : blue;
	}

th {
	background-color: blue;
 	font-size:20pt;
		
	}
	
.dyrtabel > tbody, tr, th {
	background-color: #00ff80;
	}

th.dyrtabel {
	background-color: #00ff80;
	}
	
table, th, td{
	border: solid black;
	}
	
td {
	background-color: #FFB6C1;
   }
 h1 {color : #00FA9A;
    }
ol, ul {color : #8B008B;
       }
.hr > p {
	color: purple;
	font-size: 21px;
}

.oplevelse {
	font-size: 21px;
	color: orange;
	width: 25%;
	float: left;
	border: solid black;
	margin-right: 19px;
	padding: 4px;
	}