a {
	font-size: 16pt;
	color: green;
}
th {
	background-color: LightBlue;
	
   }
table, th, td {
	border: 1px solid black;
}
.ol_links > li > a {
	font-size: 40pt;
}
.ol_links > li {
	margin-left: 20px;
	font-size: 40pt;
}
.anekdote {
	border: 2px solid black; 
	width:200px; 
	float:right;
	background-color:LawnGreen;
	padding:4px;
}
.jolle {
	background-color: MediumBlue;
}
.skema {
	min-width: 550px;
	max-width: 50%;
}
.ff {
	background-color: Cyan;
}
.historie {
	background-color: Chartreuse;
}
.dansk {
	background-color: black;
	color: White;
}
.matematik {
	background-color: blue;
}
.engelsk {
	background-color: Yellow;
}
.idræt {
    background-color: MediumVioletRed;
}
.kristendom {
	background-color: Lime;
}
.sløjd {
	background-color: Peru;
}
.nt {
	background-color: AliceBlue;
}
.madkundskab {
	background-color: YellowGreen;
}
.tysk {
	background-color: Red;
}
.frikvater {
	display: none;
}
.ønskeliste {
	font-size: 30pt;
	margin-left: 40px;
}
.istidblok {
	border: solid black;
	width: 300;
	padding: 6px;
}