a {
	font-size: 16pt;
	color: green;
}
th {
	background-color: LightBlue;
	
   }
table, th, td {
	border: 1px solid black;
}
.ol_links > li > a {
	font-size: 40pt;
}
.ol_links > li {
	margin-left: 20px;
	font-size: 40pt;
}
.anekdote {
	border: 2px solid black; 
	width:144px; 
	float:right;
	background-color:LawnGreen;
}